@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 100%);
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100,100,100,0.1);
    width: 600px;
    max-width: 100%;
}

.quiz-header{
    padding: 4rem;
}

h2{
    margin:0;
    text-align: center;
    padding: 1rem;
}

ul{
    list-style-type: none;
    padding: 0;

}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
    
}
ul li label{
    cursor: pointer;
}

button{
    background-color: #8e44ad;
    border:none;
    color: white;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1rem;
}

button:hover{
    background-color: #542c66;
    cursor: pointer;
}